body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

.braille-input {
    margin-bottom: 20px;
}

.braille-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.braille-row {
    display: flex;
}

.dot {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.text-output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

@media (max-width: 600px) {
    .dot {
        width: 30px;
        height: 30px;
    }

    .container {
        padding: 10px;
    }

    .braille-output {
        font-size: 20px;
        /* Adjust the font size for smaller screens */
    }
}

.braille-output {
    font-size: 24px;
    /* Adjust the font size as needed */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #ff0000;
}


.text-output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* New styles for additional text outputs */
#text-output-cn,
#text-output-jp {
    margin-top: 10px;
}

.text-output-b {
    font-size: 24px;
    /* Adjust the font size as needed */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #ff0000;
}

.text-output-label {
    font-weight: bold;
    margin-top: 20px;
}